<div class="header">

  <img class="AtomsIconsGeneralLogo_terumo"
  src="../../assets/img/atoms-icons-general-logo-terumo.svg" alt="">

    <ul class="Nav">
      <li class="Tab">
          <a class="MoleculesTabMenuActive" href="">Dashboard</a>
          <div class="Line"></div>
      </li>
      <li class="Tab">

      </li>
      <li class="Tab">

      </li>
      <li class="Tab">

      </li>
      <li class="MoleculesTabNotificaciones">

      </li>
    </ul>

  <div class="Container">

  </div>

</div>
