<div class="Contenedor-flex">
  <app-icono class="Top-flex" ></app-icono>
  <div class="Mid-flex">

     <img src="../../../assets/img/atoms-illustration-circle-square.svg"
     class="AtomsIllustrationcircle_square">

    <p class="TxtTitleTerumoBoldLeft_22px Nice">
      Nice!
    </p>

    <p class="You-have-changed-you">
      You have changed your password succesfully
    </p>

    <button type="button" mat-button class="button" >
      <p class="TxtBodyPearlBoldCenter_14px" > Go to login </p> </button>
  </div>
  <app-foot class="foot-flex" ></app-foot>
</div>
