<Form>

  <div class="Form-flex">

    <p class="Enter-the-following " >
      Enter the following information to login
    </p>

    <mat-form-field
    [ngClass]="{habilita:email.value ,deshabilita: !email.value}">
      <mat-label  [ngClass]="{habilita:email.value ,deshabilita: !email.value}">Mail</mat-label>
      <input type="email"  matInput color = "#dark" [formControl] = "email">
      <mat-icon> </mat-icon>
      <mat-error *ngIf="!email.valid" >This mail is not correct</mat-error>
    </mat-form-field>

    <mat-form-field
    [ngClass]="{habilita: pass.value , deshabilita: !pass.value}">
      <mat-label [ngClass]="{habilita: pass.value , deshabilita: !pass.value}" >Password</mat-label>
      <input autocomplete="off" [type]=" passOnOff ? 'password' : 'text' " matInput [formControl] = "pass" >
      <mat-icon matSuffix>
        <button type="button" (click)="lookPass()" > <p class="PButon"> {{Show}} </p></button>
      </mat-icon>
    </mat-form-field>

    <button type="button"
            [class.button_off] = "pass.errors || email.errors"
            [class.button_on] = "!pass.errors && !email.errors"
            mat-button (click)="cleerMessage()" >
      <p [class.Login] = "pass.errors || email.errors"
         [class.Login_on] = "!pass.errors && !email.errors">
        Login
      </p>
    </button>

    <div class="Forgot">
      <a href="auth/restore"> ¿Forgot password? </a>
    </div>

    <div  [ngClass]="{Alert_container_off:Message , Alert_container:!Message}" >
      <div>
        <img src="../../../assets/img/atoms-icons-general-alert.svg"
        class="AtomsIconsgeneralalert">
        <p class="The-email-or-passwor">The email or password you entered aren´t  correct, verify your information</p>
      </div>
    </div>


  </div>

</Form>
