<Form>

  <div class="Form-flex">

    <div class="Forgot-password ">
      <P class="TxtBodyDarkBoldCenter_14px"> Forgot password </P>
    </div>

    <div class="Please-enter-your-e" >
      <p > Please, enter your email to help you reset your password </p>
    </div>

    <mat-form-field
      [ngClass]="{habilita:email.value ,deshabilita: !email.value}">
      <mat-label [ngClass]="{habilita:email.value ,deshabilita: !email.value}">Mail</mat-label>
      <input type="email"  matInput color = "#dark" [formControl] = "email">
      <mat-icon> </mat-icon>
      <mat-error *ngIf="!email.valid" >This mail is not correct</mat-error>
    </mat-form-field>

    <button type="button" mat-button
      [class.button_off] = "email.errors"
      [class.button_on] = "!email.errors"
      [ngClass]="{button_off:Send,button_on:!Send }" >
      <p [class.button] = "email.errors"
         [class.TxtBodyDarkBoldCenter_14px] = "!email.errors">
       Send
      </p>
    </button>

    <button type="button" mat-button class="Login" > <p class="TxtBodyPearlBoldCenter_14px" > Back to login </p> </button>

  </div>

</Form>

