<div class="Contenedor-flex">
  <app-icono class="Top-flex" ></app-icono>
  <div class="Mid-flex">

    <Form>

      <p class="Create-a-new-passwor titulo">
        Create a new password
      </p>

      <div class="Strong-passwords-inc  " >
        <p>Strong passwords include 8-16 alphanumeric characters</p>
      </div>


      <mat-form-field
        [ngClass]="{habilita: contrasena.value , deshabilita: !contrasena.value}">
        <mat-label [ngClass]="{habilita: contrasena.value , deshabilita: !contrasena.value}" >Password</mat-label>
        <input [(ngModel)]="Pass1" autocomplete="off" [formControl] = "contrasena"
        [type]=" passOnOff ? 'password' : 'text' " matInput >
        <mat-error *ngIf="true" >
          <p class="Error">
            Your password must have at least
            8 alphanumeric characters
          </p>
        </mat-error>
        <mat-icon matSuffix>
          <button type="button" (click)="lookPass()" > <p class="PButon" > {{Show}} </p></button>
        </mat-icon>
      </mat-form-field>


      <mat-form-field
        [ngClass]="{habilita: repetirContrasena.value , deshabilita: !repetirContrasena.value}">
        <mat-label [ngClass]="{habilita: repetirContrasena.value , deshabilita: !repetirContrasena.value}">
        Password</mat-label>
        <input [(ngModel)]="Pass2"  autocomplete="off " [formControl] = "repetirContrasena"
        [type]=" passOnOff2 ? 'password' : 'text' " matInput >
        <mat-error *ngIf="true" >Password don´t match
        </mat-error>
        <mat-icon matSuffix>
          <button type="button" (click)="lookPass2()" > <p class="PButon"> {{Show2}} </p></button>
        </mat-icon>

      </mat-form-field>

      <button type="button" mat-button (click)="ComparaPass()"
              [class.button_off] = "contrasena.errors || repetirContrasena.errors"
              [class.button_on] = "!contrasena.errors && !repetirContrasena.errors">
              <p
              [class.button] = "contrasena.errors || repetirContrasena.errors"
              [class.TxtBodyDarkBoldCenter_14px] = "!contrasena.errors && !repetirContrasena.errors">
              Reset password
              </p>
      </button>

    </Form>

  </div>
  <app-foot class="foot-flex" ></app-foot>
</div>
