:root {
  --terumo: #008d61;
  --red: #d8211d;
  --pink: #df8191;
  --blue: #6caae4;
  --green: #4d9626;
  --dark: #444b52;
  --orange: #de6f05;
  --gray: #bebebe;
  --pearl: #fafafa;
  --sof-white: #f6f4f4;
  --inactive: #8a8b8d;
  --yellow: #f7b100;
  --purple: #4059a6;
  --color-solid-white: #ffffff;
}
