<div class="Contenedor-flex">
  <app-icono class="Top-flex" ></app-icono>
  <div class="Mid-flex">

    <img src="../../../assets/img/atoms-illustration-email-sent.svg"
     class="AtomsIllustrationemail_sent">


    <p class="TxtTitleTerumoBoldLeft_22px Nice">
      Nice!
    </p>

    <p class="We-have-sent-you-a-l ">
      We have sent you a link to reset your password. Please, go and check it
    </p>

    <button type="button" mat-button class="Login" >
      <p class="TxtBodyPearlBoldCenter_14px" > Back to login </p> </button>
  </div>
  <app-foot class="foot-flex" ></app-foot>
</div>
